<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<style>
    .tutor{
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        display: flex;
        border-radius: 5px;
        border: 1px solid black;
    }
</style>


<div class="tutor">
    <h4>Tutor 1</h4>
    <ul>
        <li>test</li>
        <li>test</li>
        <li>test</li>
    </ul>
</div>
<div class="tutor">Tutor 2</div>
<div class="tutor">Tutor 3</div>




</body>
</html>